*
    margin: 0
    padding: 0
    box-sizing: border-box

.eventsPage
    background: #fff
    display: flex
    height: 100vh
    width: 100%
    justify-content: center
    align-items: center

.addEventBtn
    position: absolute
    top: 10px
    left: 10px
    padding: 5px
    border-radius: 5px
  

.formStyle
    background: #ebfaeb 
    height: 400px
    width: 300px
    display: none
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 20px 5px
    border-radius: 15px
    border: 1px solid #3f5044
    z-index: 10
    
    label
        font-family: "Poppins",Helvetica,Arial,sans-serif
        font-size: 20px
        color: #282e28
        padding: 5px 
        margin: 5px

    input
        padding: 5px
        margin: 5px 15px
        border: 1px solid #3f5044
        border-radius: 10px
        width: 100%

    button
        padding: 5px
        border-radius: 5px
        margin: 0px 20px

    .formBtn
        display: inline-block

hr
    width: 80%   
    margin: 5px  

span
    font-family: "Poppins",Helvetica,Arial,sans-serif
    font-size: 20px
    color: #282e28
    padding: 5px 
    margin: 5px

.eventsList
    width: 80%
    background: #e7ebe4
    padding: 15px

    li
        padding: 10px
        border: 1px solid 
        margin: 5px 10px

.eventItem
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 2em
    width: 100%
    min-width: 4em
    border: solid 2px lightgray
    position: relative

    span
        z-index: 2
    
.eventItemProgressBar
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 0
        margin: 0
        background: linear-gradient(to top, #090, #0a0, #0c0, #0a0)
        transition: width .5s linear
        z-index: 1
