.main
    margin-top: 12px
   

.container
    width: 100%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

.pict_container
    height: 386px
    weight: 445px

.pict1
    weight: inherit
    height: inherit

.blue_name
    color: #377dff
    border-radius: 6.1875rem
    background: rgba(55,125,255,.1)
    border-color: transparent
    text-align: center
    vertical-align: middle